body{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.qua{
    width: 200px;
    height: 200px;
    background-color: black;
    animation: 0.8s tam linear infinite;
}

@keyframes tam {
     0%{
        -webkit-transform : rotate(90deg) scale(1.0);
        -ms-transform     : rotate(90deg) scale(1.0); 
        transform         : rotate(90deg) scale(1.0); 
     }
 
       
     50%{
        -webkit-transform : rotate(180deg) scale(2.0);
        -ms-transform     : rotate(180deg) scale(2.0); 
        transform         : rotate(180deg) scale(2.0); 
     }
               
     100%{
        -webkit-transform : rotate(360deg) scale(1.0);
        -ms-transform     : rotate(360deg) scale(1.0); 
        transform         : rotate(360deg) scale(1.0); 
}

}
